body{
    margin: 0;
}


header{
    align-items: center;
    display: flex;
    justify-content:space-between;
    padding: 0px 100px 0px 100px;
}

header h1{
    color: rgb(17, 0, 255);
    font-weight: bold;

}


a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

a:hover{
    color: rgb(171, 206, 241);
}


#hero{
    display: flex;
    padding: 3% 0% 3% 3%;
    background-color: rgba(143, 223, 255, 0.5);
    justify-content: center;
    align-items: center;    

}


#hero .text{
    padding: 20px;
}

.text p{
    margin-bottom: 7%;
    

}

.btn-inscription, .btn-hero{
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}
.btn-hero{
    background-color: rgb(0, 122, 255);
    color: white;
}




#hero img{
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    margin-left: 5%;
}

#avantages{
    background-color: rgb(243, 243, 243);
    padding: 20px 100px 50px 100px;
}   

#avantages h1{
    text-align: center;
    justify-content: center;
}

.flexbox{
    display: flex;
    align-items: center;
    justify-content:space-around;


}

.card{
    max-width: 25%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card .card-text{
    padding: 0px 20px 20px 20px;
}


.card h2{
    color: rgb(0, 0, 145);
}

#temoignage, #inscription{
    text-align: center;
    padding: 20px;
}

#inscription{
    background-color: rgba(143, 223, 255, 0.5);
    padding-bottom: 50px;

}

#inscription p{
    margin-bottom: 50px;
}

.btn-inscription{
    background-color: rgb(32, 32, 32);
    color: white;
}

footer{
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 10px;
    text-align: center;
}

