$primary-color: #356f4d;
$secondary-color: #27ae60;
$nombre : 20px;

$primary-button-color: rgb(187, 249, 14) ;
$secondary-button-color: rgb(0, 0, 104) ;

/*header {
    background-color: $primary-color;
    color: white;
    padding: $nombre;
    h1{
        margin: 0;
    }
    nav{
        ul{
            list-style: none;
            padding: 0;
            li{
                display: inline-block;
                margin-right: 15px;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
*/
header {
    background-color: $primary-color;
    color: white;
    padding: $nombre;
    display: flex;
    justify-content: space-between;
    h1{
        margin: 0;
    }
    nav{
        ul{
            display: flex;
            gap: $nombre;
            list-style: none;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}




@mixin button-style {
    color: rgb(124, 8, 8);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@mixin card-style {
    
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    h2{
        margin-top: 0;
    }
    
}

.cards{
    display: flex;
    gap: 20px;
    padding: 20px;
    .card{
        border: 1px solid $primary-color;
        @include card-style;
        button{
            @include button-style;
            background-color: $primary-color;
            &:hover{
                background-color: $secondary-color;
            }
        }
    }
    .card1{
        border: 1px solid $primary-button-color;
        @include card-style;
        button{
            @include button-style;
            background-color: $primary-button-color;
            &:hover{
                background-color: $secondary-button-color;
            }
        }
    }
}