body{
    background: url(../img/image.webp);
    min-height: 100vh;
    margin: 0;
}

header{
    background: rgb(39, 32, 78);
    height: 100px;
    text-align: center;
    padding: 2%;
} 

h1{
    text-align: center;
    height: 100vh;
    color: white;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px rgb(0, 92, 179);
}

nav{
    background: rgb(83, 0, 192);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


a{
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

a:hover{
    color: rgb(179, 0, 0);
    text-decoration: underline;
}

